button{
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
}

button:hover {
  background-color: #3e8e41; /* Verde más oscuro al pasar el ratón */
}

button1:hover {
   	  background-color: #FF0000;  /* Cambia el color al pasar el ratón */
}

