/* --- AJUSTES PARA PANTALLA DE DIFERENTES DISPOSITIVOS --- */
@media (max-width: 600px) {
     .note-card {
        margin: 15px auto; /* Se reducen los márgenes */
        padding: 15px;
    }

    .note-header {
        flex-direction: row; /* Título y 'Leer más' en la misma línea */
        align-items: center;
        margin-bottom: 15px;
    }

    .note-header h2 {
        font-size: 1.4rem; /* Evita que el título se desborde */
    }

    .note-content {
        flex-direction: column; /* La imagen se pone arriba y el texto abajo */
        align-items: center;    /* Centra la imagen en la pantalla*/
        gap: 15px;              /* Espacio vertical entre la foto y el párrafo */
    }

    .note-img {
        max-width: 100%;       /* La imagen ocupa el ancho disponible */
        width: 100%;
        height: auto;
    }

    .note-content p {
        width: 100%;
        text-align: left;      /* Alineación para lectura móvil */
    }
}
