header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0; /* Fondo gris claro */
  padding: 10px;
  z-index: 100; /* Asegura que esté por encima de otro contenido */
}

header button {
  margin-right: 10px; /* Añade espacio entre los botones */
}